DZ/DZ1/.idea/LAB1.iml
DZ/DZ1/.idea/misc.xml
DZ/DZ1/.idea/modules.xml
DZ/DZ1/.idea/vcs.xml
DZ/DZ1/.idea/workspace.xml
DZ/DZ1/.idea/inspectionProfiles/profiles_settings.xml
DZ/DZ1/__pycache__/defaults.cpython-37.pyc
DZ/DZ1/__pycache__/domain.cpython-37.pyc
DZ/DZ1/__pycache__/fuzzy_set.cpython-37.pyc
DZ/DZ1/__pycache__/operation.cpython-37.pyc
DZ/DZ1/venv/pyvenv.cfg
DZ/DZ1/venv/Scripts/activate
DZ/DZ1/venv/Scripts/activate.bat
DZ/DZ1/venv/Scripts/Activate.ps1
DZ/DZ1/venv/Scripts/deactivate.bat
DZ/DZ1/venv/Scripts/python.exe
DZ/DZ1/venv/Scripts/pythonw.exe
Uploaded/
DZ/DZ1/.idea/
DZ/DZ2/.idea/
DZ/DZ2/__pycache__/defaults.cpython-36.pyc
DZ/DZ2/__pycache__/relations.cpython-36.pyc
DZ/DZ2/DZ2.zip
DZ/DZ3/.idea/
DZ/DZ3/__pycache__/
DZ/DZ3/DZ1/__pycache__/defaults.cpython-36.pyc
DZ/DZ3/DZ1/__pycache__/domain.cpython-36.pyc
DZ/DZ3/DZ1/__pycache__/fuzzy_set.cpython-36.pyc
DZ/DZ3/DZ1/__pycache__/operation.cpython-36.pyc
DZ/DZ4/.idea/libraries/R_User_Library.xml
DZ/DZ4/.idea/DZ4.iml
DZ/DZ4/.idea/misc.xml
DZ/DZ4/.idea/modules.xml
DZ/DZ4/.idea/workspace.xml
DZ/DZ4/__pycache__/genetics.cpython-36.pyc
DZ/DZ4/__pycache__/util.cpython-36.pyc
DZ/DZ4/DZ4.zip
DZ/DZ5/.idea/
DZ/DZ5/.ipynb_checkpoints/
DZ/DZ5/__pycache__/
DZ/DZ5/minikeras/__pycache__/
DZ/DZ5/DZ5.zip
DZ/DZ6/.idea/
DZ/DZ6/.ipynb_checkpoints/
DZ/DZ6/__pycache__/
DZ/DZ6/DZ6.zip
DZ/DZ7/.idea/inspectionProfiles/profiles_settings.xml
DZ/DZ7/.idea/libraries/R_User_Library.xml
DZ/DZ7/.idea/.gitignore
DZ/DZ7/.idea/DZ7.iml
DZ/DZ7/.idea/misc.xml
DZ/DZ7/.idea/modules.xml
DZ/DZ7/.idea/vcs.xml
DZ/DZ7/.ipynb_checkpoints/
DZ/DZ7/__pycache__/
DZ/DZ7/civilization/__pycache__/callbacks.cpython-36.pyc
DZ/DZ7/civilization/__pycache__/civilization.cpython-36.pyc
DZ/DZ7/civilization/__pycache__/cross_strategies.cpython-36.pyc
DZ/DZ7/civilization/__pycache__/display_strategies.cpython-36.pyc
DZ/DZ7/civilization/__pycache__/initializers.cpython-36.pyc
DZ/DZ7/civilization/__pycache__/losses.cpython-36.pyc
DZ/DZ7/civilization/__pycache__/mutation_strategies.cpython-36.pyc
DZ/DZ7/civilization/__pycache__/population.cpython-36.pyc
DZ/DZ7/civilization/__pycache__/selection_strategies.cpython-36.pyc
DZ/DZ7/civilization/__pycache__/signal.cpython-36.pyc
DZ/DZ7/civilization/__pycache__/variable.cpython-36.pyc
DZ/DZ7/minikeras/__pycache__/callbacks.cpython-36.pyc
DZ/DZ7/minikeras/__pycache__/layers.cpython-36.pyc
DZ/DZ7/minikeras/__pycache__/losses.cpython-36.pyc
DZ/DZ7/minikeras/__pycache__/metrics.cpython-36.pyc
DZ/DZ7/minikeras/__pycache__/model.cpython-36.pyc
DZ/DZ7/minikeras/__pycache__/util.cpython-36.pyc
DZ/DZ7/DZ7.zip
