DZ/DZ1/.idea/LAB1.iml
DZ/DZ1/.idea/misc.xml
DZ/DZ1/.idea/modules.xml
DZ/DZ1/.idea/vcs.xml
DZ/DZ1/.idea/workspace.xml
DZ/DZ1/.idea/inspectionProfiles/profiles_settings.xml
DZ/DZ1/__pycache__/defaults.cpython-37.pyc
DZ/DZ1/__pycache__/domain.cpython-37.pyc
DZ/DZ1/__pycache__/fuzzy_set.cpython-37.pyc
DZ/DZ1/__pycache__/operation.cpython-37.pyc
DZ/DZ1/venv/pyvenv.cfg
DZ/DZ1/venv/Scripts/activate
DZ/DZ1/venv/Scripts/activate.bat
DZ/DZ1/venv/Scripts/Activate.ps1
DZ/DZ1/venv/Scripts/deactivate.bat
DZ/DZ1/venv/Scripts/python.exe
DZ/DZ1/venv/Scripts/pythonw.exe
Uploaded/
